@use "./themes/Default.module.scss";
@use "./themes/Green.module.scss";
@use "./themes/Orange.module.scss";

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-large);
  margin: auto;

  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-medium);
    border-radius: var(--card-border-radius);
    border: var(--card-border);
    box-shadow: var(--card-box-shadow);
    background-color: var(--card-background-color);
    padding: var(--card-padding);

    .button {
      width: 100%;
    }
  }

  .themes {
    display: flex;
  }
}
